[submodule "stage-02/colections/collection-iPxs"]
	path = stage-02/colections/collection-iPxs
	url = https://github.com/juanmard/collection-iPxs
[submodule "stage-02/colections/collection-Pong"]
	path = stage-02/colections/collection-Pong
	url = https://github.com/juanmard/collection-Pong
